#wpk5n-subscribe {
    font-family: Tahoma, Arial;
}

.wpk5n-subscribe-form {
    margin: 0 0 10px;
}

.wpk5n-subscribe-form > label {
    display: block;
    /*font-weight: bold;*/
}

.wpk5n-input {

}

.wpk5n-input:focus,
.wpk5n-input.focus {

}

.wpk5n-button:disabled {

}*

.wpk5n-button {

}

.wpk5n-button:hover {

}

.wpk5n-button:active {
    position: relative;
    top: 1px;
}

#wpk5n-subscribe-step-1 {

}

#wpk5n-subscribe-step-2 {
    display: none;
}

#wpk5n-subscribe-result {
    display: inline-flex;
    margin: 0 0 7px;
    width: 100%;
}

.wpk5n-message-error {
    background-color: rgba(255, 0, 0, 0.24);
    border: 2px solid #b36262;
    color: #820000;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}

.wpk5n-message-success {
    background-color: rgba(87, 241, 45, 0.24);
    border: 2px solid #16c900;
    color: #0f8500;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}